@model SIMNews.Models.职称表

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>职称表</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.职称)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.职称)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.级别)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.级别)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
